<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>This is document title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script src ="static/jquery-3.1.1.min.js"></script>
<script src ="static/bootstrap.min.js"></script>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="/">Home</a></li>
        <li ><a href="/half-day">half-day</a></li>
        <li><a href="/hour">hour</a></li>
    </ul>
</div>
<div class="container">
    <h4>Welcome in our Simple Furnace Controller page</h4>
</div>
</body>
</html>